language: php

os: linux

dist: trusty

notifications:
  email: false

cache:
  directories:
    - $HOME/.composer/cache
    - $HOME/.npm

addons:
  postgresql: "9.6"
  apt:
    packages:
      - openjdk-8-jre-headless

php:
 - "5.4"
 - "5.5"

env:
  jobs:
      - DB=pgsql MOODLE_BRANCH=MOODLE_27_STABLE V2=false
      - DB=pgsql MOODLE_BRANCH=MOODLE_28_STABLE V2=false
      - DB=pgsql MOODLE_BRANCH=MOODLE_29_STABLE V2=false
      - DB=pgsql MOODLE_BRANCH=MOODLE_30_STABLE V2=false
      - DB=pgsql MOODLE_BRANCH=MOODLE_31_STABLE V2=false
      - DB=mysqli MOODLE_BRANCH=MOODLE_27_STABLE V2=true
      - DB=mysqli MOODLE_BRANCH=MOODLE_28_STABLE V2=true
      - DB=mysqli MOODLE_BRANCH=MOODLE_29_STABLE V2=true
      - DB=mysqli MOODLE_BRANCH=MOODLE_30_STABLE V2=true
      - DB=mysqli MOODLE_BRANCH=MOODLE_31_STABLE V2=true

jobs:
  include:  # Moodle 3.2+ requires 5.6.5
    - php: "5.6"
      env: DB=pgsql MOODLE_BRANCH=MOODLE_32_STABLE V2=true
    - php: "7.0"
      env: DB=pgsql MOODLE_BRANCH=MOODLE_32_STABLE V2=true
    - php: "7.1"
      env: DB=pgsql MOODLE_BRANCH=MOODLE_32_STABLE V2=true
    - php: "5.6"
      env: DB=mysqli MOODLE_BRANCH=MOODLE_32_STABLE V2=true
    - php: "7.0"
      env: DB=mysqli MOODLE_BRANCH=MOODLE_32_STABLE V2=true
    - php: "7.1"
      env: DB=mysqli MOODLE_BRANCH=MOODLE_32_STABLE V2=true

before_install:
  - phpenv config-rm xdebug.ini
  - pecl install rar
  - nvm install 8.9
  - nvm use 8.9
  - cd ../..
  - composer selfupdate
  - if [ -n "$GITHUB_APITOKEN" ]; then composer global config github-oauth.github.com $GITHUB_APITOKEN; fi
  - if [ "$V2" = false ]; then composer create-project -n --no-dev --prefer-dist blackboard-open-source/moodle-plugin-ci ci ^1; fi
  - if [ "$V2" = true ]; then composer create-project -n --no-dev --prefer-dist blackboard-open-source/moodle-plugin-ci ci ^2; fi
  - export PATH="$(cd ci/bin; pwd):$(cd ci/vendor/bin; pwd):$PATH"

install:
  - moodle-plugin-ci install

script:
  - moodle-plugin-ci phplint
  - moodle-plugin-ci phpcpd
  - moodle-plugin-ci phpmd
  - moodle-plugin-ci codechecker
  - moodle-plugin-ci validate
  - if [ "$V2" = true ]; then moodle-plugin-ci savepoints; fi
  - if [ "$V2" = true ]; then moodle-plugin-ci mustache; fi
  - if [ "$V2" = true ]; then moodle-plugin-ci grunt; fi
  - if [ "$V2" = false ]; then moodle-plugin-ci csslint; fi
  - if [ "$V2" = false ]; then moodle-plugin-ci jshint; fi
  - if [ "$V2" = false ]; then moodle-plugin-ci shifter; fi
  - moodle-plugin-ci phpunit
  - moodle-plugin-ci behat
