dist: xenial

language: php

# Behat no longer passes when false.
sudo: required

notifications:
  email: false

services:
  - mysql

cache:
  directories:
    - $HOME/.composer/cache
    - $HOME/.npm

addons:
  postgresql: "9.6"

php:
  - "7.0"
  - "7.1"
  - "7.2"

env:
  matrix:
    - DB=pgsql MOODLE_BRANCH=MOODLE_34_STABLE
    - DB=mysqli MOODLE_BRANCH=MOODLE_34_STABLE
    - DB=pgsql MOODLE_BRANCH=MOODLE_38_STABLE
    - DB=mysqli MOODLE_BRANCH=MOODLE_38_STABLE

matrix:
  include:  # Moodle 3.3 minimum PHP 5.6.5 maximum 7.1
    - php: "5.6"
      env: DB=pgsql MOODLE_BRANCH=MOODLE_33_STABLE
    - php: "5.6"
      env: DB=mysqli MOODLE_BRANCH=MOODLE_33_STABLE
    - php: "7.1"
      env: DB=pgsql MOODLE_BRANCH=MOODLE_33_STABLE
    - php: "7.1"
      env: DB=mysqli MOODLE_BRANCH=MOODLE_33_STABLE
  exclude:   # Moodle 3.7 minimum PHP 7.1
    - php: "7.0"
      env: DB=pgsql MOODLE_BRANCH=MOODLE_38_STABLE
    - php: "7.0"
      env: DB=mysqli MOODLE_BRANCH=MOODLE_38_STABLE

before_install:
  - phpenv config-rm xdebug.ini
  - pecl install rar
  - nvm install 8.9
  - nvm use 8.9
  - cd ../..
  - composer selfupdate
  - if [ -n "$GITHUB_APITOKEN" ]; then composer global config github-oauth.github.com $GITHUB_APITOKEN; fi
  - composer create-project -n --no-dev --prefer-dist blackboard-open-source/moodle-plugin-ci ci ^2
  - export PATH="$(cd ci/bin; pwd):$(cd ci/vendor/bin; pwd):$PATH"

install:
  - moodle-plugin-ci install

script:
  - moodle-plugin-ci phplint
  - moodle-plugin-ci phpcpd
  - moodle-plugin-ci phpmd
  - moodle-plugin-ci codechecker
  - moodle-plugin-ci validate
  - moodle-plugin-ci savepoints
#  - moodle-plugin-ci mustache
  - moodle-plugin-ci grunt || [ "$MOODLE_BRANCH" = 'MOODLE_38_STABLE' ]
  - moodle-plugin-ci phpdoc
  - moodle-plugin-ci phpunit
  - moodle-plugin-ci behat