@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');

div.unicheck-detect_result {
    display: flex;
    flex-direction: column;
    width: 100px;
}

div.unicheck-detect_result span.rank1 {
    color: white;
    padding: 2px;
}

div.unicheck-detect_result span.rankBlue {
    color: #4193ff;
}

div.unicheck-detect_result span.rankGreen {
    color: #84be32;
}

div.unicheck-detect_result span.rankYellow {
    color: #fbd41c;
}

div.unicheck-detect_result span.rankOrange {
    color: #f79d62;
}

div.unicheck-detect_result span.rankRed {
    color: #f76262;
}

div.unicheck-detect_result a {
    text-decoration: none;
}

div.unicheck-detect_result img,
div.unicheck-detect_result img {
    position: relative;
    vertical-align: middle;
}

div.unicheck-detect_result .unicheck-progress {
    width: 30px;
}

div.unicheck-detect_result img.unicheck-progress {
    margin-left: 5px;
    margin-right: 5px;
    vertical-align: middle;
    width: 25px;
}

div.unicheck-detect_result div:first-child {
    display: none;
}

.unicheck-link {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 10px;
}

.unicheck-report_id {
    color: #4a4a4a;
    font-family: Arial;
    font-size: 12px;
    text-transform: uppercase;
    margin-top: 4px;
}

.unicheck-report {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 77px;
    flex-wrap: wrap;
}

.unicheck-report-link,
.unicheck-report-without-score-link {
    display: flex;
    flex-direction: row;
    padding: 8px;
    background: #424cfd;
    border-radius: 4px;

    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #fff;
    margin-top: 10px;
}

.unicheck-mt5 {
    margin-top: 5px;
}

.unicheck-report .unicheck-start-scan-link,
.unicheck-report .unicheck-reset-link,
.unicheck-report .unicheck-report-without-score-link {
    width: inherit;
}

.unicheck-report .unicheck-reset-link:hover,
.unicheck-report .unicheck-start-scan-link:hover {
    background-color: #67768a;
}

.unicheck-report {
    display: flex;
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
    text-align: center;
}

.unicheck-report_percentage {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 600;
}

.unicheck-cheating + .unicheck-report_percentage {
    color: #f76262;
}

.unicheck-report_text,
.unicheck-start_scan_text,
.unicheck-reset-text,
.unicheck-report-without-score-text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30px;
    padding: 0;
    background: transparent;
    border-radius: 2px;
    font-size: 14px;
    color: #fff;
}

.unicheck-report_text,
.unicheck-report-without-score-text {
    height: auto;
    border-radius: 0;
}

.unicheck-processing_error {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 115px;
    min-height: 18px;
    text-align: center;
    padding: 2px 0;
    line-height: 11px;
    background-color: #f76262;
    color: #fff;
    font-size: 10px;
    font-weight: 600;
    border-radius: 12px;
    margin-top: 4px;
    font-family: 'Open Sans', sans-serif;
    transition: all ease-in-out 0.3s;
}

.unicheck-cheating:hover {
    text-decoration: none;
    color: #fff;
}

.unicheck-cheating:hover .unicheck-cheating__tooltip {
    opacity: 0.9;
}

.unicheck-cheating {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 14px;
    height: 14px;
    margin-right: 8px;
    text-align: center;
    line-height: 11px;
    background-color: #f76262;
    color: #fff;
    font-size: 10px;
    font-weight: 600;
    border-radius: 12px;
    font-family: 'Open Sans', sans-serif;
    transition: all ease-in-out 0.3s;
    position: relative;
    padding-left: 14px;
    box-sizing: border-box;
    text-decoration: none;
}

.unicheck-cheating::before {
    content: '!';
    width: 14px;
    height: 14px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-size: 10px;
    font-weight: 700;
    line-height: 12px;
    position: absolute;
    left: 0;
    top: 0;
}

.unicheck-cheating__tooltip {
    position: absolute;
    min-width: 219px;
    top: 100%;
    left: 50%;
    margin-top: 6px;
    transform: translate(-50%);
    box-shadow: 0 5px 10px rgba(103, 118, 138, 0.3);
    background-color: #f76262;
    padding: 8px;
    z-index: 1;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    border-radius: 3px;
    box-sizing: border-box;
    opacity: 0;
    pointer-events: none;
    transition: all .2s;
}

.unicheck-cheating__tooltip::before {
    content: '';
    display: inline-block;
    position: absolute;
    bottom: 100%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 6px 4px 6px;
    border-color: transparent transparent #f76262 transparent;
    left: 50%;
    transform: translate(-50%);
}

.unicheck-only-xxl-width,
.unicheck-only-xl-width {
    display: none;
}

@media screen and (min-width: 1600px) {
    div.unicheck-detect_result {
        width: 170px;
    }

    .unicheck-link {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
    }

    .unicheck-report_id {
        margin-left: 5px;
        margin-top: 2px;
    }

    .unicheck-report {
        width: 100%;
        align-items: center;
    }

    .unicheck-report-link,
    .unicheck-report-without-score-link {
        margin-top: 0;
    }

    .unicheck-report_percentage {
        margin-right: 8px;
    }

    .unicheck-report .unicheck-report-without-score-link {
        width: auto;
    }


    .unicheck-only-xl-width {
        display: inline;
    }
}

@media screen and (max-width: 1600px) {
    .unicheck-start_scan_text,
    .unicheck-reset-text {
        height: 40px;
    }
}

@media screen and (min-width: 2200px) {
    div.unicheck-detect_result {
        width: 200px;
    }

    .unicheck-only-xxl-width {
        display: inline;
    }
}
