@import url(https://fonts.googleapis.com/css?family=Open+Sans);

div.unicheck-detect_result {
    display: flex;
    flex-direction: column;
    width: 69px;
}
div.unicheck-detect_result span.rank1 {
    color: white;
    padding: 2px;
}

div.unicheck-detect_result span.rankBlue {
    color: #4193ff;
}

div.unicheck-detect_result span.rankGreen {
    color: #84be32;
}

div.unicheck-detect_result span.rankYellow {
    color: #fbd41c;
}

div.unicheck-detect_result span.rankOrange {
    color: #f79d62;
}

div.unicheck-detect_result span.rankRed {
    color: #f76262;
}

div.unicheck-detect_result a {
    text-decoration: none;
}

div.unicheck-detect_result img,
div.unicheck-detect_result img {
    position: relative;
    vertical-align: middle;
}

div.unicheck-detect_result .unicheck-progress {
    width: 30px;
}

div.unicheck-detect_result img.unicheck-progress {
    margin-left: 5px;
    margin-right: 5px;
    vertical-align: middle;
    width: 25px;
}

div.unicheck-detect_result div:first-child {
    display: none;
}

.unicheck-link {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 6px;
}
.unicheck-report_id {
    color: #4a4a4a;
    font-family: Arial;
    font-size: 12px;
    text-transform: uppercase;
    margin-top: 4px;
}
.unicheck-report {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 69px;
    border-radius: 4px;
    background-color: #929fb0;
    padding: 2px 4px;
    transition: background-color ease-in-out 0.3s;
}
.unicheck-mt5{
    margin-top: 5px;
}
.unicheck-report .unicheck-start-scan-link,
.unicheck-report .unicheck-reset-link,
.unicheck-report .unicheck-report-without-score-link {
    width: inherit;
}
.unicheck-report .unicheck-report-link:hover,
.unicheck-report .unicheck-reset-link:hover,
.unicheck-report .unicheck-start-scan-link:hover,
.unicheck-report .unicheck-report-without-score-link:hover {
    background-color: #67768a;
}
.unicheck-cheating:hover {
    color: #fff;
    background-color: #ff495c;
}
.unicheck-cheating .unicheck-cheating-link {
    text-decoration: none;
    color: #ff495c;
}
.unicheck-cheating .unicheck-cheating-link:hover {
    color: #fff;
}
.unicheck-report {
    display: flex;
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
    text-align: center;
}
.unicheck-report_percentage {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65px;
    height: 30px;
    padding: 5px 2px;
    box-sizing: border-box;
    background: #fff;
    border-radius: 2px;
    font-size: 16px;
}
.unicheck-report_text,
.unicheck-start_scan_text,
.unicheck-reset-text,
.unicheck-report-without-score-text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30px;
    padding: 0;
    background: transparent;
    border-radius: 2px;
    font-size: 14px;
    color: #fff;
}
.unicheck-cheating,
.unicheck-processing_error {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 115px;
    min-height: 18px;
    text-align: center;
    padding: 2px 0;
    line-height: 11px;
    background-color: #ffe4e7;
    color: #ff495c;
    font-size: 10px;
    font-weight: 600;
    border-radius: 12px;
    margin-top: 4px;
    font-family: 'Open Sans', sans-serif;
    transition: all ease-in-out 0.3s;
}
.unicheck-only-xxl-width,
.unicheck-only-xl-width {
    display: none;
}

@media screen and (min-width: 1600px) {
    div.unicheck-detect_result {
        width: 135px;
    }
    .unicheck-report {
        width: 135px;
        justify-content: space-between;
        flex-direction: row;
        padding: 2px;
    }
    .unicheck-report.unicheck-report_without_link {
        width: max-content;
        width: -moz-max-content; /* stylelint-disable-line */
    }
    .unicheck-report-link {
        width: calc(100% - 65px);
        padding: 0;
    }
    .unicheck-only-xl-width {
        display: inline;
    }
    .unicheck-report-without-score-text .unicheck-only-xxl-width {
        display: inline;
    }
}

@media screen and (max-width: 1600px) {
    .unicheck-start_scan_text,
    .unicheck-reset-text,
    .unicheck-report-without-score-text {
        height: 40px;
    }
}

@media screen and (min-width: 2200px) {
    div.unicheck-detect_result {
        width: 176px;
    }
    .unicheck-report {
        width: 176px;
        flex-direction: row;
        padding: 2px;
    }
    .unicheck-report.unicheck-report_without_link {
        width: max-content;
    }
    .unicheck-link {
        flex-direction: row;
        height: 14px;
    }
    .unicheck-report_id {
        margin: 0 0 0 5px;
    }
    .unicheck-only-xxl-width {
        display: inline;
    }
}